%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{:href => "#"} Player
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'via RSS', '/'
        %li
          = link_to 'via JS', via_js_players_path
        %li
          = link_to 'via JS Left Side', via_js_left_players_path

%script
  $('.navbar a[href="'+window.location.pathname+'"]').parent().addClass('active');
